<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIhGNcdqcQ6pD88ckpSi3i8Uz3VvgHNcM</string>
	<key>GCM_SENDER_ID</key>
	<string>658574511312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.maxrun.photoapp.dev</string>
	<key>PROJECT_ID</key>
	<string>maxrun-photoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>maxrun-photoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658574511312:ios:c35035c0fbf05f96f0e2d5</string>
</dict>
</plist>